/* TODO */

footer
{
    padding-top:25px;
    font-size: small;
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: #374048;
    border: 1px solid grey;
    padding-bottom:25px;
}

