[user]
    name = Santiago Velez Garcia
    email = svelez.velezgarcia@gmail.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current