{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3>Stocks' portfolio for {{name}}</h3>
    <ul class="list-group">
       <li class="list-group-item">Cash balance: {{balance | usd}}</li>
       <li class="list-group-item">Grand total (cash + shares): {{total | usd}}</li>
    </ul>
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Security</th>
          <th scope="col">Symbol</th>
                    <th scope="col">Price</th>
          <th scope="col">Shares</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody> {% for stock in stocks %}
        <tr>
          <td>{{ stock["company"] }}</td>
          <td>{{ stock["symbol"] }}</td>
          <td>{{ stock["price"] | usd}}</td>
          <td>{{ stock["s_shares"] }}</td>
          <td>{{ stock["value"] | usd }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
