{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
  <div class="col-sm-7 ">

        <h2> Make your contribution</h2>

      <form method=post id=myform enctype=multipart/form-data>

          <div class="form-group col">
            <label for="genera">Specify genera </label>
            <input type=text name=genera id="genera" placeholder="Genera" required> <br>
            <small  id="Help2" class="form-text text-muted">Genera will be validated againts our colombian orchids genera database.</small>
          </div>
          <hr>
          <div class="form-group col">
            <label for="image">Upload file </label>
            <input type=file name=image id="image" required> <br>
            <small id="Help1" class="form-text text-muted">Upload an image. Supported file types are .jpeg .jpg .png.</small>
          </div>
        <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
        let genera = document.querySelector("#genera");
        document.querySelector("#submit").onclick = function() {
                $.get('/check_genera?genera=' + genera.value, function(data) {
                if (data==true){
                        return true;
                    }
                else{
                        alert("Non valid genera");
                        return false;
                    }
                })
        };
    </script>
{% endblock %}
